{% extends 'base.html' %}

{% block title %} Contact {% endblock title %}

{% block frm %} 


<form>


	<br><br>
	<label>Contact Group Name</label><br>
	<input type="text" placeholder="Enter group name" name="uname"> <br><br>
	
	<label>Contact Numbers</label><br>
	<input type="number" placeholder="Contact numbers" name="password"> <br><br>
	
	<label>Information</label><br>
	<textarea cols="42" rows="7" placeholder="Information "></textarea><br><br>

	
	<input type="submit" value="Save">


</form>


{% endblock frm %}
